nav, section.hero {
  background-color: #1A8BC5;
  color: white;
  padding: 15px 60px;
}

nav {
  font-size: 18px;
}

section.hero {
  height: 400px;
  width: 100%;
  padding: 15px 60px;
}

section.hero > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

section div h1 {
  font-size: 35px;
  font-weight: bold;
}

div.line {
  background: white;
  height: 3px;
  width: 50px;
  margin-bottom: 10px;
}

section.about, section.skills, section.projects {
  display: flex;
  justify-content: center;
  padding: 75px 0px;
}

.container {
  width: 60%;
  padding: 15px;
}

header h2 {
  font-size: 30px;
}

header:after {
  background: rgba(144, 144, 144, 0.5);
  content: '';
  display: inline-block;
  height: 1px;
  margin: 10px 0px;
  width: 110px;
}

section div.main-contents {
  display: flex;
}

section div.right-side {
  margin-left: 40px;
}

section div.right-side > div {
  width: 250px;
}

img {
  width: 100%;
  margin-bottom: 25px;
}

.icon, .skills-icons {
  font-family: 'FontAwesome';
}

section.skills {
  background-color: #333;
  color: white;
}

section.skills div.main-contents, section.projects div.main-contents {
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

section.skills ul {
  margin-top: 30px;
}

section.skills li {
  font-size: 80px;
  display: inline-block;
  margin-right: 35px;
}

section.projects .project {
  width: 400px;
  border: 2px solid #f1f1f1;
  display: inline-block;
  margin-right: 40px;
  box-shadow: 0 10px 90px 10px rgba(0,0,0,0.05);
}

section.projects .project:last-of-type {
  margin-right: 0px;
}

section.projects .project img, section.projects .project {
  border-radius: 5px;
  margin-top: 30px;
}

section.projects .project .text {
  padding: 10px;
}

section.projects h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

section.projects .text a {
  display: inline-block;
  margin-top: 25px;
  padding: 5px 30px;
  border-radius: 4px;
  border: 1px solid rgba(144, 144, 144, 0.5);
  margin-bottom: 15px;
}

section.projects .text a:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

footer {
  background-color: #333;
  color: white;
}

footer ul {
  text-align: center;
  padding: 50px;
}

footer li {
  display: inline-block;
  margin-right: 20px;
  font-size: 26px;
}
